[submodule "RType_MSXROM_To_Ascii16"]
	path = RType_MSXROM_To_Ascii16
	url = https://github.com/uniskie/RType_MSXROM_To_Ascii16.git
	branch = main
[submodule "SLAYDOCK_SCC"]
	path = SLAYDOCK_SCC
	url = https://github.com/uniskie/SLAYDOCK_SCC.git
	branch = main
[submodule "YS2EDIT_MSX2"]
	path = YS2EDIT_MSX2
	url = https://github.com/uniskie/YS2EDIT_MSX2.git
	branch = main
[submodule "THE_HOBBIT_TO_DSK"]
	path = THE_HOBBIT_TO_DSK
	url = https://github.com/uniskie/THE_HOBBIT_TO_DSK.git
	branch = main
[submodule "TRITON-TAPE2DSK"]
	path = TRITON-TAPE2DSK
	url = https://github.com/uniskie/TRITON-TAPE2DSK.git
	branch = main
